@import '@material/list/dist/mdc.list.min.css';
@import '@material/menu/dist/mdc.menu.min.css';
@import '@material/menu-surface/dist/mdc.menu-surface.min.css';
@import '@material/dialog/dist/mdc.dialog.min.css';
@import '@material/typography/dist/mdc.typography.min.css';
@import '@material/icon-button/dist/mdc.icon-button.min.css';

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.upload-btn-wrapper input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
